<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Edit Task</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="update" name="task" object="{task}" method="post">
        <f:render partial="FormFields" arguments="{task:task}" />
        <f:form.submit value="Update" class="btn btn-primary" />
    </f:form>

    <f:link.action action="list" class="btn btn-default">Back to list</f:link.action>
</f:section>
</html>
