<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <div class="container mt-4">

				<f:render partial="Header" arguments="{header: 'show.header'}" />
        <div class="card">
            <div class="card-body">
								<div class="row">
									<div class="col">
										<h2 class="card-title">{task.title}</h2>
										<f:if condition="{task.assignedTo.username}">
											<p class="mb-3"><strong>Assigned To:</strong> {task.assignedTo.username}</p>
										</f:if>
									</div>
									<f:render partial="StatusAction" arguments="{task: task}" />
								</div>
								<f:if condition="{task.description}">
									<p class="card-text">
										<strong><f:translate key="show.description">Description:</f:translate></strong> {task.description}
									</p>
								</f:if>
								<f:if condition="{task.dueDate}">
									<p class="card-text">
                    <strong><f:translate key="show.dueDate">Due Date:</f:translate></strong>
                    <f:format.date format="d.m.Y">{task.dueDate}</f:format.date>
                	</p>
								</f:if>

								<f:if condition="{task.categories}">
									<p class="card-text">
											<strong><f:translate key="show.categories">Categories:</f:translate></strong>
											<f:for each="{task.categories}" as="category" iteration="iterator">
													{category.title}<f:if condition="{iterator.isLast}"><f:else>, </f:else></f:if>
											</f:for>
									</p>
								</f:if>
                <p class="card-text">
                    <strong><f:translate key="show.status">Status:</f:translate></strong>
                    <span class="badge {f:if(condition: task.isDone, then: 'primary-color', else: 'danger-color')}">
                        <f:if condition="{task.isDone}">
                            <f:then><f:translate key="show.status.done">Done</f:translate></f:then>
                            <f:else><f:translate key="show.status.pending">Pending</f:translate></f:else>
                        </f:if>
                    </span>
                </p>
								<f:if condition="{task.reminderDate}">
										<p class="card-text">
												<strong><f:translate key="show.reminderDate">Reminder Date:</f:translate></strong>
												<f:format.date format="d.m.Y">{task.reminderDate}</f:format.date>
										</p>
								</f:if>
            </div>
            <div class="card-footer">
                <f:link.action action="edit" arguments="{task: task}" class="btn btn--primary">
                    <f:translate key="show.action.edit">Edit</f:translate>
                </f:link.action>
                <f:link.action action="delete" arguments="{task: task}" class="btn btn-outline-danger" onclick="return confirm('{f:translate(key: \'show.action.delete.confirm\')}');" >
                    <f:translate key="show.action.delete">Delete</f:translate>
                </f:link.action>
            </div>
        </div>
    </div>
</f:section>
</html>
